@tailwind base;
@tailwind components;

@layer utilities {

  .hero {
    background-image: url("https://images.unsplash.com/photo-1558051815-0f18e64e6280?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80");
    object-fit: cover;
  }

  /* Styles for the modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  z-index: 1001;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  height: 100%; /* Or a specific value */
  overflow-y: auto; /* Enable vertical scrollbar */
  scrollbar-width: none; /* Firefox */
}

.modal-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.modal-container {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

  
  /* .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  } */

  /* .profileUserImg {
    width: 75px;
    height: 75px;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    
  } */

  .color-yellow {
    color: #F0D258;
  }

  .color-dkblue {
    color: #0c2c64;
  }

  .color-medblue {
    color: #476ba9;
  }

  .color-ltgrey {
    color: #f0f1f7;
  }

  .background-yellow {
    background-color: #F0D258;
  }

  .text-yellow {
    background-color: #F0D258;
  }

  .background-darkBlue {
    background-color: #0c2c64;
  }

  .background-medBlue {
    background-color: #476ba9;
  }

  .background-gray {
    background-color: #f0f1f7;
  }
}

@tailwind utilities;
